#header-page {
    display: block;
    margin: 2em 0;
}

#header-page .logo {
    float: left;
    margin-right: 0.5em;
    max-width: 100px;
    max-height: 120px;
}

#header-page .logo svg {
    transform: translate(-95px, -75px) scale(0.9);
}

#header-page .title {
    padding-top: 1em;
}

#header-page h1 {
    padding-top: 5px;
    margin-bottom: 0;
    font-size: 2em;
}

#header-page hr {
    margin-top: 0;
}

#header-page p {
    font-size: 0.8em;
    margin-bottom: 0.8em;
}

#header-title {
    text-align: center;
}

#header-title h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

#header {
    padding: 3em !important;
}

#header .logo {
    margin: 0 !important;
    transform: scale(1.5);
}

#footer {
    width: auto;
    padding: 0;
    margin: 1em 0;
}